* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

header {
  background-color: #eaeaea;
  margin-bottom: 1.25rem;
}

header a {
  text-decoration: none;
}

.header {
  height: 11.30075rem;
  max-width: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left__logo {
  width: 10.625rem;
}

.header__left__lang {
  font-size: .875rem;
  margin-left: 2rem;
}

.header__left__lang a {
  margin-right: 0.3245em;
}

.header__left__lang a.active {
  font-weight: 700;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(1.85rem + .625rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.0625rem;
  gap: 1.85rem;
}

.header__right__content a:visited {
  color: #000;
}

.header__right__content a {
  position: relative;
  padding: .625rem;
}

.header__right__content a::after {
  position: absolute;
  content: "";
  display: block;
  top: 100%;
  z-index: 1;
  width: 0;
  height: .25rem;
  background-color: #0066f9;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.header__right__content a:hover::after {
  width: 100%;
}

.header__right button {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.0625rem;
  font-weight: 700;
  padding: 0.625em 1.25em;
  background-color: #0066f9;
}

main {
  min-height: calc(100vh - 11.30075rem - 11.6875rem);
  margin-top: 2.5rem;
}

main .main-content {
  max-width: 65rem;
}

main .main-content__heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2.5rem 0;
}

main .main-content__description {
  font-size: 1.0625rem;
}

main .main-content hr {
  margin: 2rem 0;
}

main .main-content__latest-post {
  font-size: 1.0625rem;
  margin: 1.25rem 0;
}

main .main-content__all-post {
  color: #000;
  display: block;
  margin: 2rem 0;
}

main .main-content > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

main .main-content > p {
  margin: 1.5rem 0;
  line-height: 1.7rem;
}

main .main-content__link a {
  text-decoration: none;
  color: #0066f9;
}

main .main-content__link > p {
  margin: 1.5rem 0;
  line-height: 1.7rem;
}

main .main-content__link__top a {
  text-decoration: none;
  display: block;
  margin: 1.5rem 0;
}

main .main-content__article > p {
  margin: 1.5rem 0;
  line-height: 1.7rem;
}

main .main-content__article > h3 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

main .main-content__article code {
  display: block;
  background-color: #f8f8f8;
  border: 0.0625rem solid #ccc;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  padding: 0.375rem 0.625rem;
  margin: 1.5rem 0;
}

main .main-content__article code .syntax {
  color: #cc99cd;
}

main .main-content__article code .string {
  color: #7ec699;
}

main .main-content__article code .alert {
  color: #f08d49;
}

main .main-content__article code .html-tag {
  color: #ccc;
}

main .main-content__article table,
main .main-content__article td,
main .main-content__article th {
  border: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
  font-size: 1.0625rem;
}

main .main-content__article table {
  border-collapse: collapse;
}

main .main-content__article table th {
  font-weight: 600;
}

main .main-content__article blockquote {
  color: #777;
  border-left: .25rem solid #ddd;
  padding: 1rem;
}

main .main-content__article iframe {
  width: 100%;
}

main .main-content__article .border-bottom {
  border-bottom: .25rem solid #eaeaea;
  padding: 1rem 0;
}

main .main-content__article .border-bottom-1 {
  margin-bottom: 5rem;
}

main .main-content .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-content .pagination :nth-child(n) {
  padding: 0 .2rem;
}

main .main-content .pagination :nth-child(1) {
  margin-left: auto;
}

main .main-content .pagination :nth-child(4) {
  margin-left: auto;
}

main .main-content .pagination a {
  text-decoration: none;
}

main .main-content form {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

main .main-content form :nth-child(n) {
  margin-top: .5rem;
}

main .main-content form input[type=text] {
  width: 40rem;
  height: 2rem;
}

main .main-content form input[type=submit] {
  font-size: 1.5rem;
  padding: .5em 2em;
  background-color: #0066f9;
  border: none;
  color: #fff;
  cursor: pointer;
}

main .main-content form #msg {
  height: 20rem;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem 0;
}

.card {
  background-color: #eaeaea;
  max-width: 48%;
}

.card a {
  text-decoration: none;
  color: #000;
}

.card img {
  position: relative;
  width: 100%;
  height: 18.4375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__bottom {
  padding: 2rem;
}

.card__bottom__topic {
  position: relative;
  background-color: #7d4cdb;
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  line-height: 2.5rem;
  width: 4.5rem;
  height: 2.5rem;
  margin: -3.4rem auto 1rem auto;
  z-index: 1;
}

.card__bottom__topic--img {
  background-color: #079992;
}

.card__bottom__topic--javascript {
  background-color: #e58e26;
  width: 6rem;
}

.card__bottom__time {
  position: relative;
  font-size: 0.875rem;
}

.card__bottom__heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.card__bottom__description {
  font-size: 1.0625rem;
  line-height: 1.8rem;
}

footer {
  height: 11.6875rem;
}

footer hr {
  border-top: 0.00001rem solid #eaeaea;
}

.footer {
  max-width: 65rem;
}

.footer__social-link {
  margin-top: 1.8rem;
}

.footer__social-link img {
  width: 3.125rem;
  margin-right: .5rem;
}

.footer :is(p, a) {
  font-size: 1.0625rem;
  color: #000;
}

.footer p {
  margin-top: 1rem;
}
/*# sourceMappingURL=style.css.map */